

body {
    
    margin: 0px;
    font-family: 'Oleo Script', cursive;
}

header {
    display: flex;
    justify-content: center;


    
    
}

header img {
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 100%;
    max-height:270px;
    order: 1;
}

div {
   
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly ;
    align-items: baseline;
    flex-direction: row;
  }

nav {
    padding:14px ;
	border-top: rgb(11, 48, 14);
	border-bottom:  rgb(11, 48, 14);
    border-style: double;
	border-right: transparent;
	border-left: transparent;
	margin:34px;
 
    font-family: 'Segoe UI', Verdana, sans-serif;
    display: flex;
    justify-content: center;
    }
    
nav a {
    color: rgb(11, 48, 14);
    padding-right: 10px;
    border-left-style: solid;
    border-left-color: rgb(11, 48, 14);
    padding:10px;
    font-weight: bold;
}

 h1 {
        
        padding:0px; 
        margin:0px;
        font-size: 1px;
    }

h2 {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #1a3b06;
}

h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #1a3b06;
    font-size: 35px;
 text-align: center;
}

img { 
    height: 400px ;

}

.whitespace 
{
height: 20px;

}

.space 
{
    width: 1493px;
    height: 100px;
}

footer {
    background-color: lightgray;
}

.logo {
    width: 45px;
    height: 45px;
    margin:5px;
    order:2;
}

.logoYoutube {
    width: 7%;
    height: 7%;
    order:2;
}